html {
    background-color:rgb(217, 224, 190);
    height: 100%;
    text-align: center;
}

h1 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 0;
    margin-top: 130px;
    font-size: 2.8rem;
}

h2 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    color:rgb(100, 113, 41);
    font-weight: 500;
    margin: auto;
    padding: 0;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1rem;
}

.portfolio_item {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
	margin: 12px;
	text-decoration: none;
	color: rgb(38, 41, 38);
	transition: all 0.4s;
}

.portfolio_item:hover {
    color:rgb(135, 152, 58);
    text-decoration: underline;
}

footer {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 80px 30px 30px 30px;
	text-align: center;
	font-size: .8rem;
}